ADMIN_TOKEN=gangadevirewari
FRONTEND_ORIGIN=https://your-vercel-site.vercel.app
DATABASE_PATH=./database.json
EMAIL_USER=
EMAIL_PASS=
NOTIFICATION_EMAIL=gangadevieyehospital@gmail.com
HOSPITAL_SMS_NUMBER=+919991712690
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
